*{
  padding: 0; margin: 0;
}

ul,ol{
  list-style: none;
}
.left{
  bottom: 0px;
    display: block;
    font-size: 13px;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 200px;
    background: rgb(48, 65, 86);
    overflow: auto;
}

.right{
  display: block;margin-left: 200px;
}
.right .navbar{
  display: flex; background: #eee; 
  height: 60px; width: 100%;
  position: fixed;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
}
.right .content{
  padding-top: 60px;
}
.App-header .nav{
  background: rgb(48, 65, 86); color: rgb(191, 203, 217);
  width: 100%; height: 100%;
}
.App-header .nav li{
  width: 100%
}
.App-header ul li a{
  display: block; color: rgb(191, 203, 217);
  text-decoration: none;font-size: 14px;
  height: 50px;
    line-height: 50px;
    padding-left: 11px;
}
.App-header ul li a:hover{
  background-color: rgb(38, 52, 69);
}

.the_bus{
  padding: 22px; border: 1px solid #ccc; border-radius: 11px;
}
.the_NameForm{
  padding: 22px; border: 1px solid #ccc; border-radius: 11px;
}
.the_user ul li span{
  width: 200px; padding: 3px 6px;
}


.newsList li{
	border:1px solid red; padding: 5px; margin: 3px;
	float: left; width: 44%;
}
.newsList li p{
	margin: 3px; height: 33px; line-height: 33px;
}
.newsList li p img{
	width: 50px; height: 30px;
}

.the_hook .the_example{
  border: 1px solid #bbb;
}
.hasBorder {
  border: 1px solid #bbb; padding: 5px 11px;
}
.the_login{
  padding: 22px; border: 1px solid #ccc; border-radius: 11px;
  text-align: center;
}
.the_login button{
  width: 88px; margin: 11px;
}

.the_NotFound{
  text-align: center;
}
.the_NotFound h1{
  font-size: 44px; margin: 22px auto; color: red;
}

.the_home {
  padding: 22px; border: 1px solid #ccc; border-radius: 11px;
}
.the_home .inputUser{
  padding: 22px; border: 1px solid #ccc; border-radius: 11px;
}

.boss{
  padding: 4px 8px;
}
/* .boss .show{ opacity: 1; transition:all 1.5s ease-in;}
.boss .hide{opacity: 0; transition:all 1.5s ease-in;} */
.boss .show{ animation:show-item 2s ease-in forwards; }
.boss .hide{ animation:hide-item 2s ease-in forwards; }

@keyframes hide-item{
    0% {
        opacity:1;
        color:yellow;
    }
    50%{
        opacity: 0.5 ;
        color:red;
    }
    100%{
        opacity:0;
        color: green;
    }
}

@keyframes show-item{
    0% {
        opacity:0;
        color:yellow;
    }
    50%{
        opacity: 0.5 ;
        color:red;
    }
    100%{
        opacity:1;
        color: green;
    }
}